@charset 'UTF-8';

html, body {
    height:100%;
}

.container {
    padding-top:4em;
}

.ui.header a:focus {
    border:0;
    outline:none;
}

.ui.header a {
    color:rgba(0,0,0,.87)!important
}

.teal-green {
    background-color:#64CEAA!important;
}

.loading.icon {
    background:none!important;
}

.ui.search .action:hover {
    background:inherit;
}

.ui.search .prompt {
    border-radius:0.28571429rem;
}

[v-cloak] {
  display: none;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}