{% extends "layout.html" %}

{% block content %}
{% raw %}
<div id="app" class="ui text container">
    <h1 class="ui header">
        <a href="/" tabindex="-1">
            <div class="content">
                Save SoundCloud!
                <div class="sub header">(and export your data to .csv)</div>
            </div>
        </a>
    </h1>
    <div class="ui fluid search">
        <div :class="{ disabled: loading }" class="ui action big fluid input">
            <input @keyup.enter="onEnter($event)" v-model="username" class="prompt" type="text" placeholder="SoundCloud Username">
            <a :href="downloadUrl" @click="download($event)" :class="{ disabled: loading }" class="ui right labeled icon teal-green big button" ref="downloadLink">
                <i :class="['right', loading ? 'notched circle loading': 'download', 'icon']"></i>
                <span class="download-text">Download .csv</span>
            </a>
        </div>
        <div class="results"></div>
    </div>
    <template .v-cloak>
    <div class="ui error message" v-if="errors.length">
        <i class="close icon" @click="errors = []"></i>
        <div class="header">
            There were some errors with your submission
        </div>
        <ul class="list">
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </div>
    </template>
</div>
{% endraw %}
{% endblock %}
