{% extends "layout.html" %}

{% block content %}
{% raw %}
<div id="app" class="ui text container">
    <h1 class="ui header">
        <a href="/" tabindex="-1">
            <div class="content">
                Save SoundCloud!
                <div class="sub header">(and export your data to .csv)</div>
            </div>
        </a>
    </h1>
    <div class="ui action big input">
        <input v-model="username" type="text" placeholder="SoundCloud Username">
        <select v-model="endpoint" class="ui compact selection dropdown">
            <option selected="" value="likes">Likes</option>
            <option value="playlists">Playlists</option>
            <option value="reposts">Reposts</option>
            <option value="all">All</option>
        </select>
        <a :href="downloadUrl" class="ui right labeled icon teal-green big button">
            <i class="right download icon"></i>
            Download .csv
        </a>
    </div>
</div>
{% endraw %}
{% endblock %}
